.container {
    width: 30rem;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.status {
  height: 10px;
}

button {
  height: 30px;
  outline: none;
  border-radius: 2px;
}

.fetch_data_button {
  width: 30rem;
  outline: none;
  margin: 5px;
  border-radius: 2px;
  color:  white;
  font-weight: bold;
  background-color: #3aa757;
  border: 1px;
}

.data_button {
  width: 60px;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-group {
  maring-bottom: 1rem;
}

.form-control {
  padding: .375rem .75rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

input[type=text], input[type=email], input[type=password] {
  width: 30rem;
}

.form-text {
  display: block;
    margin-bottom: .5rem;
}

.text-muted { color: #6c757d !important }